<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:printsupport="http://schemas.microsoft.com/appx/manifest/printsupport/windows10"
  xmlns:printsupport2="http://schemas.microsoft.com/appx/manifest/printsupport/windows10/2"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 printsupport printsupport2 rescap">

  <Identity
    Name="PrintSink"
    Publisher="CN=PrintSink"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="3DD16A35-0AD0-4766-AC85-6D87ABB8D761" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PrintSink</DisplayName>
    <PublisherDisplayName>PrintSink</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      uap10:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="PrintSink"
        Description="Virtual printer management"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <printsupport:Extension Category="windows.printSupportSettingsUI" EntryPoint="PrintSink.App.App" />
        <printsupport:Extension Category="windows.printSupportJobUI" EntryPoint="PrintSink.App.App" />
        <printsupport:Extension Category="windows.printSupportWorkflow" EntryPoint="PrintSink.Tasks.PrintSupportWorkflowBackgroundTask" />
        <printsupport:Extension Category="windows.printSupportExtension" EntryPoint="PrintSink.Tasks.PrintSupportExtensionBackgroundTask" />
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="PrintSink.Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:PdfPrintDisplayName"
            PrinterUri="ipp://localhost/printsink/pdf"
            PreferredInputFormat="application/oxps"
            OutputFileTypes="pdf"
            PdcFile="Config\PrinterPdf.pdc.xml"
            PdrFile="Config\PrinterPdf.pdr.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/pdf" MaxVersion="1.7" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="PrintSink.Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:XpsPrintDisplayName"
            PrinterUri="ipp://localhost/printsink/xps"
            PreferredInputFormat="application/oxps"
            OutputFileTypes="oxps"
            PdcFile="Config\PrinterXps.pdc.xml"
            PdrFile="Config\PrinterXps.pdr.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/oxps" />
              <printsupport2:SupportedFormat Type="application/vnd.ms-xpsdocument" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="PrintSink.Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:PostScriptPrintDisplayName"
            PrinterUri="ipp://localhost/printsink/postscript"
            PreferredInputFormat="application/postscript"
            OutputFileTypes="ps"
            PdcFile="Config\PrinterPostScript.pdc.xml"
            PdrFile="Config\PrinterPostScript.pdr.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/postscript" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="PrintSink.Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:CloudPrintDisplayName"
            PrinterUri="ipp://localhost/printsink/cloud"
            PreferredInputFormat="application/oxps"
            PdcFile="Config\PrinterCloud.pdc.xml"
            PdrFile="Config\PrinterCloud.pdr.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/pdf" MaxVersion="1.7" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="PrintSink.Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:PwgRasterPrintDisplayName"
            PrinterUri="ipp://localhost/printsink/pwg-raster"
            PreferredInputFormat="application/oxps"
            OutputFileTypes="pwg"
            PdcFile="Config\PrinterPwgRaster.pdc.xml"
            PdrFile="Config\PrinterPwgRaster.pdr.xml" />
        </printsupport2:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>WinRT.Host.dll</Path>
        <ActivatableClass ActivatableClassId="PrintSink.Tasks.PrintSupportWorkflowBackgroundTask" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="PrintSink.Tasks.PrintSupportExtensionBackgroundTask" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="PrintSink.Tasks.VirtualPrinterBackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>
