root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space

[*.cs]
indent_size = 4
dotnet_diagnostic.CS1591.severity = error
dotnet_diagnostic.MSTEST0046.severity = error
dotnet_diagnostic.SYSLIB1054.severity = error

[*.{xml,csproj,props,targets,slnx}]
indent_size = 2
