root = true

[*.cs]
dotnet_style_namespace_match_folder = true
dotnet_diagnostic.IDE0130.severity = error

[*.{cs,csproj,props,targets,slnx,xml,md}]
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
